body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-items: center;
}
.container{
    background: linear-gradient(0deg, rgba(34,193, 195,1)0%, rgba(163, 45, 253, 1)100%);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    max-width: 80%;
}
.profile{
    width: ;
    border-radius: ;
    object-fit: ;
    border: 6px solid;
}
.link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(42, 111, 201);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 20px 0;
    text-decoration: none;
    p{}
}